<% @title = "Introduction to 6 Hats" %>
<% content_for :instructions do %>
"I came here looking for an argument!" - "No, you didn't!"
<% end %>

<p>In <a class="book"
href="http://www.amazon.com/gp/product/0316178314?ie=UTF8&tag=steamodesorr-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=0316178314">Six
Thinking Hats</a><img
src="http://www.assoc-amazon.com/e/ir?t=steamodesorr-20&l=as2&o=1&a=0316178314"
width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />, 

Edward de Bono puts forth the notion that typical business meetings emphasize 
opinions of individuals instead of focusing first on information.  While this 
"argumentative" style can certainly be lively, it can also offer some disadvantages, 
shown at the right.
</p>

<p>More resources:</p>
<ul>
 <li><a href="http://www.vedpuriswar.org/book_review/Six%20Thinking%20Hats.doc">Book review</a> found at vedpuriswar.org (<a href="/Six Thinking Hats.doc">local copy</a>).</li>
 <li><a href="http://members.tripod.com/yoooo22/leadership.htm">Another introduction</a> from the perspective of leadership.  (<a href="/tripod-leadership.html">local copy</a>)</li>
 <li><a href="http://www.inspiration.moonfruit.com/edwarddebono/4519676395">http://www.inspiration.moonfruit.com/edwarddebono/4519676395</a> has a nice mindmap and a PDF <a href="Six%20Thinking%20Hats%20Summary.pdf">introducing some of the 6 hats concepts (archived)</a></li>
 <li></li>
</ul>
<% box :title => "Problems of the Argumentative Meeting Style" do %>
	<ul>
		<li>Only the outspoken members of the team are able to be heard</li>
		<li>Good ideas are missed</li>
		<li>"Might makes Right"</li>
	</ul>
<% end %>

<p>The proposed alternative is for a group to think together, planning what kind of outcomes 
they're seeking, recognizing the potential contribution of every individual.  Some recognized 
benefits and outcomes are shown below.</p>


<table>
  <tr>
    <th>Color</th>
    <th>Description</th>
  </tr>

<% for hat in @hats %>
  <tr>
    <td><%= h hat.color %></td>
    <td><%= link_to( hat.summary, hat ) %></td>
  <% if false %>
    <td><%= link_to 'Edit', edit_hat_path(hat) %></td>
    <td><%= link_to 'Destroy', hat, :confirm => 'Are you sure?', :method => :delete %></td>
  <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New hat', new_hat_path %>


<% box :location => :left, :title => "Benefits of Six-Hats Thinking" do %>
  <%= markdown(<<EOM)

### More Objectivity

By focusing on specific aspects of the problem, we free each participant from their natural 
single-minded perspective.


### More Innovative Ideas

The process provides an explicit time when innovation is the subject of conversation, in 
response to both positive and negative possibilities.  This produces more and often better ideas
than a typical argumentative meeting style.


### More People Get Heard

Since every person finds that one or two of the hats are easier than the others for them, more 
people in any group will be able to contribute their thoughts - even if only under the red hat. 
Aside from the other benefits, this increases employee engagement, which is proven to drive 
higher individual and company performance.

### More Effective Decisions

At the end of a six-hats session, most groups find that they have made more informed decisions 
that provide greater effectiveness than they would have otherwise achieved.

### Shorter Meetings

Meetings really are shorter when everybody works together.  

EOM
%>
<% end %>

