<% @title = "Editing thought" %>

<% form_for([@topic, @thought]) do |f| %>
  <%= f.error_messages %>
# TODO: add hat dropdown
  <p>
    <%= f.label :summary %><br />
    <%= f.text_field :summary %>
  </p>
  <p>
    <%= f.label :detail %><br />
    <%= f.text_area :detail %>
  </p>
    <%= form_buttons( f, "Save", topic_url(@topic) ) %>
<% end %>

