<h1>Listing thoughts</h1>

<table>
  <tr>
    <th>Summary</th>
    <th>Detail</th>
  </tr>

<% for thought in @thoughts %>
  <tr>
    <td><%=h thought.summary %></td>
    <td><%=h thought.detail %></td>
    <td><%= link_to 'Show', [@topic, thought] %></td>
    <td><%= link_to 'Edit', edit_topic_thought_path(@topic, thought) %></td>
    <td><%= link_to 'Destroy', [@topic, thought], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New thought', new_topic_thought_path(@topic) %>
