<% @title = "New thought" %>

<% form_for([@topic, @thought]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :summary %><br />
    <%= f.text_field :summary %>
  </p>
  <p>
    <%= f.label :detail %><br />
    <%= f.text_area :detail %>
  </p>
    <%= form_buttons( f, "Create", topic_url(@topic) ) %>
<% end %>
